# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Produced files by auto make tool
*.0
*.1
*.2
*.3
requests

# Depends files
*.deps
*.Po
*.lo

# Project files
*.cproject
*.project
*.settings
